<nb-card>
  <nb-card-body>

    <table [nbTreeGrid]="data" equalColumnsWidth>

      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns" ></tr>

      <ng-container [nbTreeGridColumnDef]="customColumn">
        <td nbTreeGridCell *nbTreeGridCellDef="let row">

          <nb-tree-grid-row-toggle *ngIf="row.hasChildren()">
            <button nbTreeGridRowToggle [attr.aria-label]="row.expanded ? 'collapse' : 'expand'" class="row-toggle-button">
                <span [ngClass]="{'nb-chevron-down': row.expanded, 'nb-chevron-right': !row.expanded}"
                      aria-hidden="true">
                </span>
            </button>
          </nb-tree-grid-row-toggle>
          {{row.data.name}}
        </td>
      </ng-container>

      <ng-container *ngFor="let column of defaultColumns" [nbTreeGridColumnDef]="column">
        <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column]}}</td>
      </ng-container>

    </table>

  </nb-card-body>
</nb-card>
