.message {
  margin: 15px 0 0;
  font-size: 12px;
}
.message a {
  text-decoration: none;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}
.form {
  position: relative;
  z-index: 1;
  max-width: 600px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-control {
  width: 80%;
  margin-bottom: 5px;
}

button {
  margin-top: 2px;
}

.fancy-icon{
  vertical-align: top;
  border: 2px solid;
  border-color: #8F7514 #C9A932;
  border-radius: 100%;
  height: 45px;
  margin-left: 15px;
  margin-right: 15px;
  width: 45px;
}

.text {
  margin: 10px;
}
