<span class="menuroot center">
  <a href="#">
      <nb-icon icon="info-outline"></nb-icon>
      <span *ngIf="!collapsed" class="icon-text">About</span>
  </a><hr>
  <a href="#">
    <nb-icon icon="monitor-outline"></nb-icon>
    <span *ngIf="!collapsed" class="icon-text">Services</span>
  </a><hr>
  <a href="#">
    <nb-icon icon="person-outline"></nb-icon>
    <span *ngIf="!collapsed" class="icon-text">Clients</span>
  </a><hr>
  <a href="#">
    <nb-icon icon="email-outline"></nb-icon>
    <span *ngIf="!collapsed" class="icon-text">Contact</span>
  </a><hr *ngIf="logged">
  <a href="#" *ngIf="logged" (click)="liveUser.logout()">
    <nb-icon icon="power-outline"></nb-icon>
    <span *ngIf="!collapsed" class="icon-text">logout</span>
  </a>
</span>
