.nomargin {
  margin: 0;
}
a{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  display: block;
  text-transform: capitalize;
  padding-top: 10px;
}

.menuroot {
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 60px;
}

.menuroot a:hover {
  color: #f1f1f1;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}
hr {
  height: 1px;
  padding: 0;
  background-color: rgba(35,35,35,.46);
  border: 0;
}
.icon-text {
  padding-left: 10px;
  font-size: 30px;
}
