<span class="menuroot center">
  <a href="/configs">
      <nb-icon icon="save-outline"></nb-icon>
      <span *ngIf="!collapsed" class="icon-text">Configs</span>
  </a><hr>
  <a href="/components">
    <nb-icon icon="monitor-outline"></nb-icon>
    <span *ngIf="!collapsed" class="icon-text">Components</span>
  </a><hr>
  <a href="/users">
    <nb-icon icon="person-outline"></nb-icon>
    <span *ngIf="!collapsed" class="icon-text">Clients</span>
  </a><hr>
  <a href="/credits">
    <nb-icon icon="info-outline"></nb-icon>
    <span *ngIf="!collapsed" class="icon-text">About us</span>
  </a>
  <span *ngIf="logged"><hr>
    <a href="/settings">
      <nb-icon icon="settings-2-outline"></nb-icon>
      <span *ngIf="!collapsed" class="icon-text">settings</span>
    </a><hr>
    <a href="#" (click)="liveUser.logout()">
      <nb-icon icon="power-outline"></nb-icon>
      <span *ngIf="!collapsed" class="icon-text">logout</span>
    </a>
  </span>
</span>
